Diagnostics:
  Suppress: [
    "module_odr_violation_record"
  ]
CompileFlags:
  Remove: [
    -fmodule-output=*,
    -fmodule-file=*,
    -fno-modules-reduced-bmi
  ]
  Add: [
    -std=c++23,
    -fno-exceptions,
    --target=x86_64-w64-windows-gnu
  ]
  Compiler: clang++