Diagnostics:
  Suppress: [
    "module_odr_violation_record",
    "header_import_not_header_unit",
    "fatal_too_many_errors",
    "module_not_found"
  ]
CompileFlags:
  Remove: [
    -fmodule-output=*,
    -fmodule-file=*,
    -fno-modules-reduced-bmi
  ]
  Add: [
    -std=c++23,
    -fno-exceptions,
    -fprebuilt-module-path="C:/etc/project/buildpp/.build/buildModule/module"
  ]
  Compiler: clang++